
/* Floating Labels
-------------------------------------------------- */

.ldc-floating-labels {
  position: relative;
  margin-bottom: 1rem;
}

.ldc-floating-labels input,
.ldc-floating-labels label {
  height: 3.125rem;
  padding: .75rem;
}

.ldc-floating-labels > textarea {
    height: 6.25rem;
    padding: .75rem;
    resize: none;
    overflow: hidden;
}

.ldc-floating-labels select {
  height: 3.125rem;
  padding: .75rem;
}

.ldc-floating-labels label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: var(--gray-dark);
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.ldc-floating-labels input::-webkit-input-placeholder,
.ldc-floating-labels textarea::-webkit-input-placeholder {
    color: transparent;
}

.ldc-floating-labels input::-moz-placeholder,
.ldc-floating-labels textarea::-moz-placeholder {
    color: transparent;
}

.ldc-floating-labels input::placeholder,
.ldc-floating-labels textarea::placeholder {
    color: transparent;
}

.ldc-floating-labels input:not(:-moz-placeholder-shown),
.ldc-floating-labels textarea:not(:-moz-placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.ldc-floating-labels input:not(:placeholder-shown),
.ldc-floating-labels textarea:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.ldc-floating-labels input:-webkit-autofill,
.ldc-floating-labels textarea:-webkit-autofill {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.ldc-floating-labels select.placeholder-hidden {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.ldc-floating-labels input:not(:-moz-placeholder-shown) ~ label,
.ldc-floating-labels textarea:not(:-moz-placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: var(--gray);
}

.ldc-floating-labels input:not(:placeholder-shown) ~ label,
.ldc-floating-labels textarea:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: var(--gray);
}

.ldc-floating-labels input:-webkit-autofill ~ label,
.ldc-floating-labels textarea:-webkit-autofill ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: var(--gray);
}

.ldc-floating-labels select.placeholder-hidden ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: var(--gray);
}
