.wpcf7 form .wpcf7-response-output {
    /* Reset */
    margin: 0;
    /* Alert */
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    /* Blue */
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}
.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
	display: none;
}
.wpcf7 form.sent .wpcf7-response-output {
	/* Green */
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
	/* Red */
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.wpcf7 form.spam .wpcf7-response-output {
	/* Gray */
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
}
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
	/* Yellow */
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5;
}
